body {
    margin: 0;
}
header {
    background-color: #0B1C51;
}

header h1 {
    font-size: 52px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex; 
    list-style: none;
}

header nav ul li a {
    font-family: Montserrat, tahoma, sans-serif;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

@media all and (min-width: 650px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    header h1 {
        font-size: 48px;
        padding: 10px;
    }

    header nav {
        align-items: center;
    }

    header nav ul {
        padding-right: 20px;
    }
}